.container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container :global(.ant-empty) {
    position: absolute;
    top: 50%;
}

.tableContainer {
    margin-top: 30px;
    width: 100%;
}