* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 30px;
}

.ant-spin.ant-spin-section,
.ant-empty {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ant-spin.ant-spin-section {
    display: flex;
}

